[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
djoser = "*"
djangorestframework_simplejwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
